main {
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    padding: 10px;
}

.products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Media Query für mobile Bildschirme */
@media (max-width: 550px) {
    .products {
        flex-direction: column;
        align-items: center;
    }
}