
.productCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  
}

.productCard img{
  max-width: auto;
  height: auto;
  margin: 10px 0px;
}

.productCard .name{
  margin: 10px 0px;
}

.productCard p{
  font-size: 14px;
  font-weight: 500;
  text-align: left; /* Text von links nach rechts ausrichten */


}

.productCard .action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.productCard button{
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #1C59AE;
  padding: 7px 10px;
  cursor: pointer;
  max-width: 150px;
}

.productCard button:hover{
  background-color: #103f80;
}

.productCard .remove{
  background-color: #ac0d14;
}

.productCard .remove:hover{
  background-color: #8e090f;
}

/* Media Query für mobile Bildschirme */


@media (max-width: 782px) {
  .productCard {
    width: 45%;
  }
}